@import 'common';

.resource {
  width: 100%;  
  height: 100%;
  
  padding-top: $navibar-height;
  padding-bottom: 50px;
  padding-left: $drawer-width;

  .contents {
    height: 100%;

    .title {
      @extend %component-title;
    }
  }
}